<mat-card>
    {{ title }}
    <mat-card-header>
        <mat-card-title>Coucou</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- Premiere forme de Binding -->
        <!-- Pour afficher une variable d'un component vers le html on peut use {{}} -->
        <h3>{{ welcomeMessage }}</h3> 
        <span [style.color]="newColor">Un texte coloré!</span>
        <hr>
            <mat-form-field class="example-full-width">
              <hr>
              <!-- Deuxieme forme -->
              <!-- c'est le two way binding propre au formulaire en changeant la valeur ça va changer la couleur -->
              <input matInput [(ngModel)]= "newColor" type="text">
            </mat-form-field>
        <!-- Troisieme forme de Binding -->
        <!-- Pour afficher quelque chose dans le html on va le lier au ts avec () -->
        <!-- Ici newColor correspond à la variable dans le ts -->
        <button mat-button (click)="updateColor()">Update</button>
        <button mat-button (mouseenter)="anotherColor()">Mouse Hover</button>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <mat-list>
            <mat-list-item 
              *ngFor="let fruit of gardenFruits"
              (click)= "selectFruit(fruit)">
                <h3>{{ fruit.title }}</h3>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>DEBUG</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span *ngIf= "selectedFruit">{{ selectedFruit | json }}</span>
    </mat-card-content>
</mat-card>
